<ion-grid>
    <ion-row size="4"> 
      <ion-col size="0"></ion-col> 
      <ion-col size="12" style="padding-top: 50px;">
        <ion-img src="../assets/shirt.png" width="300px"> </ion-img>
      </ion-col>  
      <ion-col size="0"></ion-col> 
    </ion-row>
  
  
    <ion-row size="4"> 
      <ion-col size="3">
        <ion-button fill="clear" style="height: auto;"><ion-icon name="arrow-back-circle-outline" style="zoom: 2.5; color: white;"></ion-icon></ion-button>
      </ion-col>  
      <ion-col size="6">
        <ion-label style="font-size: 30px; color: white;"> Panda Shirt </ion-label>
        <ion-label style="font-size: 30px; color: white;"> $15 </ion-label>
      </ion-col>  
      <ion-col size="3">
        <ion-button fill="clear" style="height: auto;"><ion-icon name="arrow-forward-circle-outline" style="zoom: 2.5; color: white;"></ion-icon></ion-button>
      </ion-col>  
    </ion-row>
  
    <ion-row size="4">
      <ion-col size="0"></ion-col> 
      <ion-col size="12">
        <div style="height: 230px;">
          <ion-label style="font-size: auto; color: white;"> Make moves in our performance enhanced Ducale. This purple and blue check includes a 
            relaxing mix between nylon and lycra resulting in a comfortable solution that allows you to stretch at your athleisure. You can even retire 
            your iron with this wrinkle-free style, which is made to leave you looking crisp all day long.</ion-label>
        </div>
      </ion-col>  
      <ion-col size="0"></ion-col>
    </ion-row>
  </ion-grid>



