<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar color="primary">
      <ion-item color="primary">
        <ion-button color="primary" (click)="openFirst()" style="height: auto;"><ion-icon name="list-outline" style="zoom:1.8;"></ion-icon></ion-button> 
        <ion-title style="font-size: 25px; align-content: center;" >T-Shirts</ion-title>  
        <ion-button color="primary" style="height: auto;" slot="end"><ion-icon name="cart-outline" style="zoom:1.8;"></ion-icon></ion-button>
      </ion-item>
    </ion-toolbar>
  </ion-header>


  <div id="container">  
    <div text-center>
      <ion-spinner *ngIf="isLoading"></ion-spinner>
    </div>

    <ion-grid>
      <ion-list *ngFor="let shirt of listOfShirt">
        <ion-row *ngIf="!isLoading">

          <ion-col size="3" class="ion-align-self-start">
            <img [src]="shirt.imageLink" />      
          </ion-col>

          <ion-col size="6" class="ion-align-self-start">
            <ion-label> {{ shirt.title }} </ion-label>     
          </ion-col>

          <ion-button fill="clear" (click)="addToCart(shirt)">
            <ion-icon name="cart-outline" style="zoom: 2"></ion-icon>
          </ion-button>
        </ion-row>
      </ion-list>       
    </ion-grid>
  </div>

</ion-content>