<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar color="primary">
      <ion-item color="primary">
        <ion-button color="primary" (click)="openFirst()" style="height: auto;"><ion-icon name="list-outline" style="zoom:1.8;"></ion-icon></ion-button> 
        <ion-title style="font-size: 25px; align-content: center;" >Shop My Dear</ion-title>  
        <ion-button color="primary" style="height: auto;" slot="end"><ion-icon name="cart-outline" style="zoom:1.8;"></ion-icon></ion-button>
      </ion-item>
    </ion-toolbar>
  </ion-header>


  <div id="container">
    <app-featured-items></app-featured-items>
  </div>


</ion-content>